body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: #0458FE;
}
.datatable-page {
  background: #F2F3F6;
  .el-table {
    padding-bottom: 20px;
    td.el-table__cell {
      border: 0;
      cursor: pointer;
    }
  }
}
.main-container {
  max-width: 1740px;
  margin: 0 auto;
  background: #24314A;
}
.main-header {
  width: 100%;
  height: 93px;

  .login-box {
    background: #FF1F55;
    height: 93px;
    text-align: center;
    padding-top: 28px;
    a.dialogbtn {
      display: block;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
.main-sidebar {
  .main-logo {
    width: 100%;
    background: #fff;
    img {
      padding: 28px 22px;
    }
  }
  .main-nav {
    background: #fff;
    padding: 20px 0;
    a {
      display: inline-flex;
      align-items: center;
      padding: 16px 32px 16px 28px;
      text-decoration: none;
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-transform: uppercase;
        color: #1D2435;
        position: relative;
      }

        svg {
        flex: 0 0 auto;
        fill: none;
        text-align: center;
        margin-right: 1.75rem;
        margin-top: 2px;
        stroke: #1D2435;
        transition: stroke .2s ease-out, fill .2s ease-out;
      }

      // &:before {
      //   position: absolute;
      //   content: '';
      //   left: 32px;
      //   top: 13px;
      //   width: 22px;
      //   height: 15px;
      //   background: url(/img/st-icon.svg) left top no-repeat;
      // }

      &.active {
        background: #E1E4F4;
      }
      &:hover {
        // background: #E1E4F4;
        text-decoration: underline;
      }
    }
    &.dark {
      background: none;
      a {
        span {
          color: #fff;
        }
        svg {
          stroke: #FF1F55;
        }
        &:before {
          filter: invert(50%);
        }
      }
      &:hover {
        background: none;
      }
    }
  }
}
.main-content {
  background: #EEEEEF url(/img/bg.png) left top no-repeat;
  background-size: 100%;
  .content-wrapper {
    padding: 40px 20px;
  }
}
.main-footer {
  width: 100%;
  height: 179px;
  background: #1D2435;
  color: #878B95;

  .footer-content {
    color: rgba(242, 243, 246, 0.5);
    padding: 32px 50px !important;
    font-size: 13px;

    h5 {
      font-weight: bold;
      margin: 8px 0 16px;
      font-size: 14px;
      line-height: 1.28;
      text-transform: uppercase;
    }

    a {
      display: block;
      text-decoration-line: underline;
      color: rgba(242, 243, 246, 0.5);
    }
  }

  .footer-logo-box {
    height: 179px;
    background: #171E2D;

    .footer-logo {
      opacity: .5;
      color: #F2F3F6;
      img {
        margin-top: 60px;
      }
    }
  }
}

a {
  transition-property: color, background-color, border-color, opacity;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
img {
  vertical-align: middle;
  border-style: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn {
  display: inline-block;
  padding: 0.4375rem 0.8125rem 0.75rem 0.75rem;
  border-radius: 2.9375rem;
  box-shadow: 0px 10px 10px #e1e4f4, 0px -3px 10px #ffffff;
  // color: #0459FF;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.8125rem;
  margin-right: 0.8125rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pull-right {
  float: right;
}

.filter-box {
  padding: 2.5rem;
  .filter-title {
    margin: 20px 0;
  }
  .filter-subtitle {
    margin: 20px 0 10px;
  }
  .el-select {
    width: 100%;
  }
  .accelerator-button {
    color: #fff;
    background-color: #FF1F55;
    box-shadow: none;
    border: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-radius: 2rem;
    padding: 12px 32px;
    font-size: .875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.15s ease-out;
  }
}

.supportentities {
  padding: 10px;
  .supportentity-row {
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
    cursor: pointer;
    transition: none;
    color: #1D2435;
    font-size: .875rem;
    padding: 16px;
    .name {
      img {
        margin-right: 16px;
      }
    }
    &:hover {
      color: #1d2435;
      background: #f8f4df;
    }
  }
  .supportentity-row-header {
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
    color: #1D2435;
    font-size: .875rem;
    padding: 16px;
    font-weight: bold;
  }
}
.el-pagination {
  margin: 20px 0;
  text-align: center;
}
.relative {
  position: relative;
}

.loading-box {
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

.bg-dark {
  background-color: #1d2435 !important;
  color: #fff !important;
}

.startup-page {
  background: #F2F3F6;

  .el-dialog {
    .form-header {
      margin-bottom: 25px;
      text-align: left;
      .title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #1D2435;
        margin-right: 110px;
      }
    }
    .el-dialog__headerbtn .el-dialog__close {
      display: none;
    }
    .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      background: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  .row-box {
    padding: 40px;
    margin-bottom: 0.8125rem;
    &.bordered {
      border-bottom: 2px solid #fff;
      margin-bottom: 0;
    }
  }

  .breadcrumbs {
    color: #1D2435;
    font-weight: 400;
    a {
      text-decoration: none;
      color: #1D2435;
    }
  }
  .startup-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600
  }
  .startup-desc {
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: normal;
    max-width: 567px;
  }

  .startup-year-title {
    font-size: 0.625rem;
    text-transform: uppercase;
    line-height: 0.8125rem;
    font-weight: 500;
    color: #1D2435;
    opacity: 0.5;
    font-style: normal;
    margin-bottom: 0.25rem
  }

  .startup-year {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #1D2435;
  }

  .add-to-favorite {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none !important;
    padding: 0 15px;
    line-height: 42px;
    font-size: 12px;
    span {
      display: none;
      text-transform: uppercase;
      transition: all .5s;
      color: #1D2435;
      margin-left: 18px;
    }
    &:hover {
      span {
        display: inline-block;
      }
    }
  }

  .contacts-title {
    margin-top: 0;
    padding-bottom: 1rem;
  }

  .contacts-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
    line-height: 21px;
    font-size: 1rem;
    font-weight: 500;
  }

  .btn-back {
    text-decoration: none;
    color: #1D2435;
    padding: 6px 1px;
    border: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 12.25rem;
    background: #FFFFFF;
    border-radius: 31px;
    outline: none;
    span {
      margin-right: 9px;
      margin-left: 7px;
      display: flex;
      align-items: center;
      img {
        vertical-align: middle;
        border-style: none;
      }
    }
  }
  .findata-table {
    .btn {
      margin-top: 18px;
      padding: 12px;
    }
    h2 {
      margin: 16px 0 16px 20px;
      line-height: 40px;
    }
    .btn {
      margin-right: 20px;
    }
    .cell {
      white-space: nowrap;
    }
  }
  .supportentities {
    h2 {
      margin: 16px 0 16px 20px;
      line-height: 40px;
    }
  }
}

@media only screen and (max-width: 1200px) {

    body {
      font-size: 12px;
    }

    .main-sidebar {
      .main-nav {
        a {
          span {
            font-size: 10px;
          }
        }
      }
      .main-logo {
        img {
          padding: 28px 8px;
        }
      }
    }

    .main-header {
      .search-bar {
        margin: 11px 22px;
      }
      .login-box {
        height: 72px;
        padding-top: 20px;
        a.dialogbtn {
          font-size: 11px;
        }
      }
    }

    .home-page {
      .supportBox {
        &::before {
          position: absolute;
          content: '';
          background: rgb(0, 0, 0, 0.7);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }
        .index_helpers-grid_inner {
          padding: 1rem 1rem 1.5rem !important;
          position: relative;
          z-index: 2;
          .index_helpers-grid_title {
            font-size: 16px;
          }
        }
      }
    }

    .home_indicators {
      .home_indicator {
        height: 130px;
      }
      // h6 {
      //   font-size: 0.8rem !important;
      //   margin: 0 0 0rem !important;
      // }
    }

    // .grid-item {
    //   .grid-inner {
    //     height: 200px !important;
    //     h5 {
    //       font-size: 0.8rem !important;
    //     }
    //   }
    // }

    .main-footer {
      height: 270px;
      .footer-logo-box {
        height: 270px;
      }
      .footer-content {
      padding: 24px !important;
    }
  }

  .datatable-page {
    font-size: 10px;
  }
  .supportentity-row,
  .company-row,
  .el-table__row,
  .el-table thead {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 320px) {

  .main-sidebar {
    .main-logo {
      img {
        padding: 28px 0;
      }
    }
    .main-nav {
      a span {
        font-size: 0;
      }
    }
  }

  .main-header {
    .search-bar {
      display: none; 
    }
    .login-box {
      height: 72px;
      padding-top: 20px;
    }
  }

  .home-page {
    .supportBox {
      &::before {
        position: absolute;
        content: '';
        background: rgb(0, 0, 0, 0.7);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
      .index_helpers-grid_inner {
        padding: 1rem 1rem 1.5rem !important;
        position: relative;
        z-index: 2;
        .index_helpers-grid_title {
          font-size: 16px;
        }
      }
    }
  }

  .home_indicators {
    h6 {
      font-size: 0.8rem !important;
      margin: 0 0 0rem !important;
    }
  }

  .grid-item {
    .grid-inner {
      height: 200px !important;
      h5 {
        font-size: 0.8rem !important;
      }
    }
  }

  .startup-page {
    .breadcrumbs {
      margin: 20px 0 !important;
    }
    .startup-title {
      margin-top: 30px !important;
      font-size: 1.5rem !important;
    }
  }
  .supportentities {
    overflow-x: scroll;
    .supportentity-row,
    .supportentity-row-header {
      min-width: 600px;
    }
  }
  .companies {
    overflow-x: scroll;
    .company-row,
    .company-row-header {
      min-width: 600px;
    }
  }

  .regform .el-dialog {
    width: 300px;
    .sendBtn {
      padding: 20px;
    }
    .el-checkbox__label {
      font-size: 8px;
    }
  }

  .main-footer {
    height: 270px;
    .footer-logo-box {
      height: 270px;
    }
    .footer-content {
      padding: 24px !important;
    }
  }
}